//Colors variables:
$color-black: #000000;
$color-white: #FFFFFF;
$color-vueling-grey: #4D4D4D;
// $color-vueling-primary: #FFCC00;
$color-starWars-primary: #EEDB00;
$font-family-default: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;

.footer-background {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  background-color: $color-black;
}

.icons {
  height: auto;
  display: flex;
  padding: 1.5% 0.5% 0.5% 0.5%;
  gap: 1.25em;
}

svg {
  fill: $color-starWars-primary;
  transition: 0.2s ease-in-out;
}

svg:hover {
  fill: $color-white;
  transform: translateY(-20%);
}

.texts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  color: $color-starWars-primary;
  width: auto;
  font-family: $font-family-default;
  padding: 0.25%;
  font-size: medium;
}

.nameEffect {
  transition: 0.2s;
}

.nameEffect:hover {
  color: $color-white;
  cursor: pointer;
}

.mail {
  color: $color-starWars-primary;
  width: auto;
  font-family: $font-family-default;
  padding: 0.5% 0.5% 2.5% 0.5%;
  font-size: medium;
  transition: 0.2s;
}

.mail:hover {
  color: $color-white;
  // cursor: pointer;
}
