.breadcrumb {
  position: fixed;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  font-size: .9em;

  a,
  span {
    color: #B39878;
    transition: 0.3s;
    cursor: pointer;
    margin: 6px;
  }

  a:hover,
  span:hover {
    color: #9481b3;
    text-decoration: none;
  }

  li {
    list-style: none;
    float: left;
  }

  li:last-child {
    margin-right: 20px;
  }

  li::after {
    content: ">";
    color: #B39878;
  }

  li:last-child::after {
    content: "";
  }
}
