//Variables:
// Colors:
$color-black: #000000;
$color-white: #FFFFFF;
$color-vueling-grey: #4D4D4D;
$color-vueling-primary: #FFCC00;
$font-family-default: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;

body {
  margin: 0px;
}
